:root{
    --primary-color :#e6e5e3;
    --secondary-color:#647799;
    --ternary-color:#42597e;
    --foreground-color:#2a3b57;
    --background-highlight:#14243d;
    --background-color:#08172d;
}

body{
    background-color:  var(--background-color);
    font-family: 'Raleway';
    overflow-x: hidden;
}
.star{
    height: 100px;
    margin: -20px;
    transition: all 3s ease;
    animation: float 1.5s alternate-reverse infinite;
}
@keyframes float {
    0% {
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(10px);
    }  
}
#heading{
    width: 100%;
    display: inline-grid;
    justify-content: space-between;
}

.line{
    width: 400px;
    height: 10px;
    background-color: var(--foreground-color);
    grid-column-start:2 ;
    grid-column-end: 3;
    margin-right: -10px;
    border-radius: 20px;
}
.intro{
    color: var(--primary-color);
    font-size: large;
    display: flex;
    justify-content: space-between;
    width: 300px;
    list-style-type: none;
    cursor: pointer;
    margin-right: 10px;
}
#About, #Projects, #Contact{
    height: 50px;
    width: 85px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    transition: all .3s ease-in-out
}
#About:hover,#Projects:hover,#Contact:hover{
    text-shadow: 0px 0px 15px white;
    box-shadow: 0 0 15px var(--primary-color);
}

#introduction{
    color: var(--primary-color);
    margin: auto;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: justify;
    background-color: var(--background-highlight);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 15px var(--primary-color);
}
.bold{
    color: var(--secondary-color);
    font-size: 18px;
}
#pfp{
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--foreground-color);
    margin: 20px;
}
#name{
    font-size: 25px;
}
#sparkel{
    height: 200px;
    position: absolute;
    top: 90px;
    right: 100px;
    z-index: 1;
}
#line2{
    height: 10px;
    width: 300px;
    margin-left: -20px;
    margin-top: 30px;
    background-color: var(--foreground-color);
}

#projects{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.project{
    height: 100px;
    width: 150px;
    background-color: var(--background-highlight);
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-decoration: none;
    color: var(--primary-color); 
    box-shadow: 4px 4px 10px rgb(19, 19, 19);
}

.project:hover{
    box-shadow: 0px 0px 15px var(--primary-color);
    transition: ease-in .5s;

}
a{
    text-decoration: none;
    color: var(--primary-color);
}
#palindromeChecker{
    text-align: center;
}
.headingProject{
    color: var(--secondary-color);
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}

#line3{
    width: 550px;
    margin-top: 50px;
    float: right;
}

#line4{
    margin-bottom: 50px;
    width: 550px;
    margin-left: -10px;
}

#line5{
    width: 550px;
    padding: 40px;
    float: right;
    font-size: 30px;
    box-shadow: 0 0 15px var(--primary-color);
    background-color:var(--background-highlight);
}

.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--secondary-color);
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 200px;
}
#line6{
    margin-top: 100px;
    background-color: var(--background-color);
}

#line7{
    margin-top: 20px;
    background-color: var(--background-color);
}
#cat{
    height: 300px;
    float: inline-end;
    opacity: .3;
    margin-right: 100px;
    margin-top: -170px;
}

